
GJ72h/.idea/.idea.GJ72h/.idea/copilot/chatSessions/00000000000.xd
GJ72h/.idea/.idea.GJ72h/.idea/copilot/chatSessions/blobs/version
GJ72h/.idea/.idea.GJ72h/.idea/copilot/chatSessions/xd.lck
GJ72h/.idea/.idea.GJ72h/.idea/encodings.xml
GJ72h/.idea/.idea.GJ72h/.idea/indexLayout.xml
GJ72h/.idea/.idea.GJ72h/.idea/vcs.xml
